$color--primary : #0055FF;
$color--secondary : #33334f;
$color--text : #767EAD;
$color--text-light : #b8b8d9;
$color--text-red : #f42525;
$color--text-green : #4CAF50;

$font-type-bold :  'muli-bold';
$font-type-xbold :  'muli-extrabold';
$font-type-xlight :  'muli-extralight';
$font-type-light :  'muli-light';
$font-type-regular :  'muli-regular';


$font_path: '/assets/fonts/';
$image_path: '/assets/img/';

